.calculator {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;

  .calculate {
    &-wrapper {
      width: 355px;
      display: flex;
      flex-direction: column;

      padding: 40px 10px 10px 10px;

      border: 1px solid;
      border-radius: 13px;
    }
    &-keys {
      display: flex;
      flex-direction: row;
    }
    &-numbers {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
    }
    &-functions {
      display: flex;
    }
    &-operations {
      display: flex;
      flex-wrap: wrap;
    }
    &-left-block {
      display: flex;
      flex-direction: column;
    }
  }
}
